.dashboard {
    border-radius: 10px;
    border: 1px solid #002232;
    margin: 6px;
    overflow: auto;
    background: white;
    height: calc(100% - 30px);
}

.dashboard > table {
    table-layout: fixed;
    padding: 5px;
}

.dashboard > table > tr > td {
    vertical-align: bottom;
    padding: 5px;
    font-size: 22px;
}

.dashboard > table > tr > td:first-of-type {
    color: blue;
    border-radius: 3px;
    margin-right: 30px;
    width: 0;
}

.dashboard > table > tr > :not(td:first-of-type {
    color: black;
}

/* This doesn't appear to work for dynamically inserted elements */
.dashboard-header {
    color: green;
    font-size: 22px;
    margin-top: 140px;
}
