.section {
    border-radius: 10px;
    border: 1px solid #002232;
    margin: 6px;
    display: flex;
    flex-direction: column;
}

.section > .header {
    text-align: center;
}

.section > .header > div {
    display: inline-block;
    text-align: center;
    font-size: 20px;
    margin: 5px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 10px;
    background: beige;
    max-width: 200px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
}

.section > .control {
    display: flex;
    flex-direction: row;
}

.section > .control > .navigator {
}

.section > .control > .info {
    table-layout: auto;
    display: table;
}

.section > .control > .info > div {
    margin: 4px;
    display: table-row;
}

.section > .control > .info > div > div {
    display: table-cell;
    padding: 5px;
    margin: 10px;
}

.section > .control > .info > div > div:first-child {
    margin-right: 20px;
    color: blue;
    text-align: left;
    font-size: 20px;
}

.section > .control > .info > div > div:last-child {
    text-align: left;
    font-size: 20px;
}

#tasks {
    height: 100%;
}

.task-button {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    text-shadow: 1px 1px 3px #666666;
    -webkit-box-shadow: 0px 1px 3px #666666;
    -moz-box-shadow: 0px 1px 3px #666666;
    box-shadow: 0px 1px 3px #666666;
    font-family: Arial;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    margin: 10px;
    max-width: 120px;
}

.task-button:hover {
    background: #1de05b;
    background-image: -webkit-linear-gradient(top, #1de05b, #17a364);
    background-image: -moz-linear-gradient(top, #1de05b, #17a364);
    background-image: -ms-linear-gradient(top, #1de05b, #17a364);
    background-image: -o-linear-gradient(top, #1de05b, #17a364);
    background-image: linear-gradient(to bottom, #1de05b, #17a364);
    text-decoration: none;
}

.tab-button {
    cursor: pointer;
}

.tab-button.selected {
    background: #1de05b;
}
