.frame {
    height: 100%;
    width: 100%;
    display: table;
}

.frame > .header {
    height: 0;
    margin: 2px;
    display: table-row;
}

.frame > .main {
    vertical-align: top;
    display: table-row;
    overflow: hidden;
}

.frame > .main > .panel {
    width: auto;
    vertical-align: top;
    height: 100%;
    float: left;
    overflow: auto;
}

.frame > .main > .content {
    height: 100%;
    width: auto;
    vertical-align: top;
    padding: 2px;
    overflow: hidden;
    color: black;
}